@charset "UTF-8";
body{
    margin: 150px auto;
}
.title{
   top: 0;
   padding: .6em;
   width: 100%;
   text-align: center;
   position: fixed;
   background-color: white;
   box-shadow: 0 10px 5px lightgrey;
}
h3{
    font-family: 'Sriracha', cursive;
    text-align: center;
}
a{
    color: inherit;
}
